body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    background-color: white;
    color: turquoise;
    text-align: center;
}

.header h3 {
    text-align: center;
/*might need some padding or margins here*/
}

#history {
    display: block;
}

.forecast.content li{
    font-size: 6px;
    text-align: justify;
}