body {
    background-image: url("image.jpg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    background-color: white;
    color: turquoise;
    text-align: center;
}

.header h4 {
    text-align: center;
    padding-left: 30px;
}

#history {
    display: block;
}

.forecast.content li{
    font-size: 6px;
    text-align: justify;
}

#main {
    width: 600px;
    height: 200px;
    text-align: left;
    padding-bottom: 0%;
    margin-bottom: 5%;
}

#main h5 {
    color: black;
}

/* Forecast box styling */
#forecast {
    background-color: #f1f1f1;
}

#forecast li {
    font-size: 12px;
}

.nowrap {
    white-space: nowrap ;
}

.square {
    background-color: #2196F3;
    color: #f1f1f1;
    float:left;
    position: relative;
    width: 16%;
    padding-bottom: 1%; 
    margin:1%;
    overflow:hidden;
    border: 1px solid grey;
}

.square:hover {
    background: #0b7dda;
    cursor: pointer;
}

.square::after{
    content: "";
    clear: both;
    display: table;
}

.content {
    position:absolute;
    height:85%; 
    width:95%; 
    padding: 1%;
    
}

/* Search and history stlye */
* {
    box-sizing: border-box;
}
  
/* Input style */
form.search input[type=text] {
    padding: 5 px;
    font-size: 14px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
}
  /* Submit button styles and effects */
#search {
    float: left;
    width: 10%;
    padding: 1px;
    background: #2196F3;
    color: white;
    font-size: 14px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
  
#search:hover {
    background: #0b7dda;
}
  
#search::after {
    content: "";
    clear: both;
    display: table;
}

/*Footer*/
footer {
    background-color: rgb(41, 38, 38);
    color: aliceblue; 
    text-align: center;
    font-size: smaller;
}